@model Order

<div class="container-fluid row ">
    <div class="col-lg-6 col-md-12 ">
        <div class="col-8 form-control-lg">
            <div class=" input-group-lg d-flex flex-column">
                <label class="text-white fw-bold mb-1">FirstName</label>
                <div placeholder="FirstName" class="input-field bg-white p-1 rounded">@Model.FirstName</div>
            </div>

            <div class="input-group-lg d-flex flex-column">
                <label class="text-white fw-bold mb-1">LastName</label>
                <div placeholder="FirstName" class="input-field bg-white p-1 rounded">@Model.LastName</div>

            </div>

            <div class=" input-group-lg d-flex flex-column">
                <label class="text-white fw-bold mb-1">Address</label>
                <div placeholder="FirstName" class="input-field bg-white p-1 rounded">@Model.ShippingAddress</div>

            </div>

            <label class="text-white fw-bold mb-1">Payment Method:</label>
            <div class="form-control-lg bg-white">
                <input disabled placeholder="Address" type="checkbox" checked value="delivery"/>
                <label>Pay On Delivery</label>
            </div>
            <div class=" input-group-lg d-flex flex-column">
                <label class="text-white fw-bold mb-1">Order Notes</label>
                <pre disabled class="input-field bg-white p-1 rounded text-wrap" placeholder="Wrap as a gift..." >@Model.OrderNotes</pre>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 p-3 background-primary">
        <h2 class="text-white fw-bold mb-1">Products</h2>
        @foreach (var item in @Model.OrderItemsIds)
        {
            <div class="row border border-1 border-secondary rounded p-0 m-0 mb-1">
                <div class="col-3 p-0">
                    <img class="rounded" width="150" height="150" src="~/media/products/@item.Image" alt="Product"/>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-white fw-bold mb-1">@item.ProductName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="fw-bold text-white">Price:</span> <span class="text-white fw-bold mb-1">@item.Price</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="fw-bold text-white">Qty:</span>
                            <span class="text-white fw-bold mb-1">
                                @item.Quantity
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="fw-bold text-white">Total</span>
                            <span class="text-white fw-bold mb-1">@item.Total</span>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>